/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

/* Debug Helper. TODO remove in the end */
.debug {
  border: 1px solid red;
}

.debug-blue {
  border: 1px solid blue;
}

.debug-green {
  border: 1px solid green;
}