// Consts
$primary-color: #ac47e6;
$secondary-color: #00bfe1;
$text-color: #000000;

@mixin lightTheme {
    background-color: white;
    color: black;
}
@mixin darkTheme {
    background-color: black;
    color: white;
}

body {
    @include darkTheme;
}

div {
    @include lightTheme;
    border: 2px solid $secondary-color;
    border-radius: 6px;
    padding: 10px;

    .page {
        height: 100rem;
        background-color: #c418d1
    }
}

form {
    @include lightTheme;
    border: 2px solid $secondary-color;
    border-radius: 6px;
}